
<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>KIT || Students</title>
<link rel="stylesheet" type="text/css" href="bootstrap.css">
<link rel="stylesheet" href="foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

</head>
<body style="background: url(kit.jpg); background-size: cover;">
<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2195009-2', 'auto');
      ga('send', 'pageview');

      ga('create', 'UA-2195009-27', 'auto', {name: "foundation"});
      ga('foundation.send', 'pageview');
    </script>
    <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="realEstateMenu" style="background-color:#984823">
    <div class="top-bar-left">
        <div class="navbar-header">
            <a href="#"><img style="width:35%;float:left;margin-left: 12px;margin-top: 1px;" src="kit.png"></a>
            <a href="http://www.kitcbe.com/" style="color:white;" class="navbar-brand">KIT</a>
        </div>
    </div>
    <div class="top-bar-right" style="margin-top: 5px;">
    <ul class="menu">
<!--    <li><a href="/staffs"  style="color:white;">Staffs</a></li>-->
    <li><a href="/students"  style="color:white;">Students</a></li>
    </ul>
    </div>
    </div>
    <br>
<div class="row"> 
    <div class="medium-7 large-6 columns">
        <h3 style="color:#fff6ed">KalaignarKarunanidhi Institute of Technology</h3>
        <p class="subheader" style="color:white">KIT-Kalaignarkarunanidhi Institute of Technology, one of the best Engineering College in Coimbatore, is located at a distance of 12 kilometers from Coimbatore Railway Station and 8 kilometers from Coimbatore Civil Aerodrome. Set in a calm and congenial locale, the college stands nestled in a spacious campus set in a vast area of 5 lakhs sq.ft.with five storied buildings housing classrooms, laboratories, library, faculty rooms, conference halls, administrative and residential areas.</p>
        <a href="http://www.kitcbe.com/"><button class="button" style="background-color:#984823">Visit</button></a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a href="https://www.youtube.com/watch?v=OHlcRUJ-Ljc">
            <div class="thumbnail" style="border:2px solid rgb(228, 166, 25);background:sienna;">
            <img src="img.jpg" class="img-thumbnail" style="border: rgb(228, 166, 25);background:sienna;"/>
            <h4 style="padding-top:10px;color:white">Fahid M</h4>
                <p style="color:white">2nd year student of KIT-Kalaignar Karunanidhi Institute of Technology.</p>
            </div>
        </a>
        </div>
    <div class="medium-5 large-3 columns">
        <div class="callout secondary" style="border:2px solid rgb(228, 166, 25);background:#984823;">
            <form action="/login" method="post">
                <div class="row">
                    <div class="small-12 columns">
                     <label style="color:white">Email
                        <input type="text" placeholder="Email" name="username">
                     </label>
                    </div>
                    <div class="small-12 columns">
                        <label style="color:white">Password
                        <input type="password" placeholder="Password" name="pwd">
                        </label>
                    <button type="submit" class="button" style="background-color:white;color:#984823">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>
<div class="row column">
<hr>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
<script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
</body>
</html>