<html>
    <head>
        <title>Blue Card</title>
       
        <link rel="stylesheet" href="bootstrap.css"/>
        <link rel="stylesheet" type="text/css"href="semantic.css"/>
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="semantic.js" > </script>
        
       
    </head>
    <body style="background: url(de1.jpg); background-size: cover;">
        
    <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Blue Card</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Mark Sheet <span class="sr-only">(current)</span></a></li>

              </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/logout">Logout</a></li>
               <li><a href="/register">Register</a></li>
              
            </ul>

            </div>
          </div>
        </nav>
        <%  var error ;if (error) { %>
           <div class="alert alert-success"><%= error %></div>
         <% } %>
    
     <div class="ui container segment" style="width:40%;    margin: 20 auto;padding-top: 10px;">
         <h1 style="margin:0 auto;">Enter The Marks here</h1>
            <form class="ui form" action="/mark" method="post">
          <h4 class="ui dividing header" style="padding-top: 10px;">Student Information</h4>
          <div class="field">
            <label>Name</label>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="First Name" name="name" required>
              </div>
              <div class="field">
                <input type="text" placeholder="Last Name">
              </div>
            </div>
                <div class="field">
                    <label>Register No.</label>
                <input type="text" placeholder="Reg. No" name="regNo" required>
              </div>
              <div class="two fields">
                  <div class="field">
                    <label>Semester</label>
                    <input type="number" id='sem' placeholder="" name="sem"  required>
                  </div>
                  <div class="field">
                      <label>Internal</label>
                       <select id="int" name="int">
                        <option value="">None</option>
                          <option value="1">I</option>
                          <option value="2">II</option>
                          <option value="3">III</option>
                      </select>
                  </div>
              </div>
              <div class="field">
                <label>Department</label>
               <select id="dept" name="dept">
                   <option value="">Choose dept</option>
                   <option value="ece">ECE</option>
                   <option value="cse">CSE</option>
                   <option value="eee">EEE</option>
                   <option value="aero">AERO</option>
                   <option value="mech">MECH</option>

          </select>
      </div>
  </div>
<!--=====================================================================================================================================================-->
                                                                <!--Semester 1-->
<!--=====================================================================================================================================================-->
        <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto; background-color:#ECCF9E; " id="sem1">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">English 1</label>
        <input  type="text"  name=" "   id="sem1sub1" placeholder="Marks" "sem1English">
      </div>
            <div class="field"><label style="color:#800e10;">Mathematics 1</label>
        <input  type="text"  name=" "   id="sem1sub2" placeholder="Marks" "sem1Maths">
      </div>
            <div class="field"><label style="color:#800e10;">Physics 1</label>
        <input  type="text"  name=" "   id="sem1sub3" placeholder="Marks" "sem1Physics">
      </div>
            <div class="field"><label style="color:#800e10;">Chemistry 1</label>
        <input  type="text"  name=" "   id="sem1sub4" placeholder="Marks" "sem1Chem">
      </div>
            <div class="field"><label style="color:#800e10;">Computer Programming</label>
        <input  type="text"  name=" "   id="sem1sub5" placeholder="Marks" "sem1Cp">
      </div>
            <div class="field"><label style="color:#800e10;">Engineering Graphics</label>
        <input  type="text"  name=" "   id="sem1sub6" placeholder="Marks" "sem1Eg">
            
      </div> 
      <div>
        <input type="submit"  name=" "   class="btn btn-danger" id="e">
      </div>
         </div>
                
<!--=====================================================================================================================================================-->
                                                                <!--Semester 2-->
<!--=====================================================================================================================================================-->
                
        <div class="ui container segment" style="width: 80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="ece2">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">English 2</label>
        <input  type="text"  name=" "   id="ece2sub1" placeholder="Marks"  "eceEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Mathematics 2</label>
        <input  type="text"  name=" "   id="ece2sub2" placeholder="Marks" "eceMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Physics 2</label>
        <input  type="text"  name=" "   id="ece2sub3" placeholder="Marks" "ecePhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Chemistry 2</label>
        <input  type="text"  name=" "   id="ece2sub4" placeholder="Marks" "eceChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Circuit Theory</label>
        <input  type="text"  name=" "   id="ece2sub5" placeholder="Marks" "eceCt">
      </div>
            <div class="field"><label style="color:#800e10;">Electronic Devices</label>
        <input  type="text"  name=" "   id="ece2sub6" placeholder="Marks" "eceEd">
      </div>
                   <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
<!--            </form>-->
         </div>
                 <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="eee2">
            <h2 style="color:#800e10;">Marks</h2>
<!--              <form class="ui form">-->
            <div class="field"><label style="color:#800e10;">English 2</label>
        <input  type="text"  name=" "   id="eee2sub1" placeholder="Marks" "eeeEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Mathematics 2</label>
        <input  type="text"  name=" "   id="eee2sub2" placeholder="Marks" "eeeMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Physics 2</label>
        <input  type="text"  name=" "   id="eee2sub3" placeholder="Marks" "eeePhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Chemistry 2</label>
        <input  type="text"  name=" "   id="eee2sub4" placeholder="Marks" "eeeChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Circuit Theory</label>
        <input  type="text"  name=" "   id="eee2sub5" placeholder="Marks" "eeeCt">
      </div>
            <div class="field"><label style="color:#800e10;">Basic Civil and Mechanical Engineering </label>
        <input  type="text"  name=" "   id="eee2sub6" placeholder="Marks" "eeeBcme">
      </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
<!--                     </form>-->
         </div>
                 <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto; background-color:#ECCF9E;" id="cse2">
            <h2 style="color:#800e10;">Marks</h2>
<!--              <form class="ui form">-->
            <div class="field"><label style="color:#800e10;">English 2</label>
        <input  type="text"  name=" "   id="cse2sub1" placeholder="Marks" "cseEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Mathematics 2</label>
        <input  type="text"  name=" "   id="cse2sub2" placeholder="Marks" "cseMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Physics 2</label>
        <input  type="text"  name=" "   id="cse2sub3" placeholder="Marks" "csePhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Digital Principles and System Design</label>
        <input  type="text"  name=" "   id="cse2sub4" placeholder="Marks" "cseDpsd">
      </div>
            <div class="field"><label style="color:#800e10;">Principles of Computer Engineering</label>
        <input  type="text"  name=" "   id="cse2sub5" placeholder="Marks" "csePce">
      </div>
            <div class="field"><label style="color:#800e10;">Programming using C++</label>
        <input  type="text"  name=" "   id="cse2sub6" placeholder="Marks" "csePuc">
            
      </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
<!--                     </form>-->
         </div>
         
                
          <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="aero2">
            <h2 style="color:#800e10;">Marks</h2>
<!--              <form class="ui form">-->
            <div class="field"><label style="color:#800e10;">English 2</label>
        <input  type="text"  name=" "   id="aero2sub1" placeholder="Marks" "aeroEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Mathematics 2</label>
        <input  type="text"  name=" "   id="aero2sub2" placeholder="Marks" "aeroMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Physics 2</label>
        <input  type="text"  name=" "   id="aero2sub3" placeholder="Marks" "aeroPhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Chemistry 2</label>
        <input  type="text"  name=" "   id="aero2sub4" placeholder="Marks" "aeroChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Engineering Mechanics</label>
        <input  type="text"  name=" "   id="aero2sub5" placeholder="Marks" "aeroEm">
      </div>
            <div class="field"><label style="color:#800e10;">Basic Electrical and Electronics Engineering</label>
        <input  type="text"  name=" "   id="aero2sub6" placeholder="Marks" "aeroBeee">
                  </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
<!--              </form>-->
         </div>         
         <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="mech2">
            <h2 style="color:#800e10;">Marks</h2>
<!--              <form class="ui form">-->
            <div class="field"><label style="color:#800e10;">English 2</label>
        <input  type="text"  name=" "   placeholder="Marks"  id="mech2sub1" "mechEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Mathematics 2</label>
        <input  type="text"  name=" "   placeholder="Marks"  id="mech2sub2" "mechMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Physics 2</label>
        <input  type="text"  name=" "   placeholder="Marks"  id="mech2sub3" "mechPhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Chemistry 2</label>
        <input  type="text"  name=" "   placeholder="Marks"  id="mech2sub4" "mechChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Engineering Mechanics</label>
        <input  type="text"  name=" "   placeholder="Marks"  id="mech2sub5" "mechEm">
      </div>
            <div class="field"><label style="color:#800e10;">Basic Electrical And Electronics</label>
        <input  type="text"  name=" "   placeholder="Marks"  id="mech2sub6" "mechBeee">
            </div> <div><input type="submit"  name=" "  class="btn btn-danger" id="e"></div>
         </div>
                
<!--=====================================================================================================================================================-->
                                                                <!--Semester 3-->
<!--=====================================================================================================================================================-->
                
         <div class="ui container segment" style="width: 80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="ece3">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">Transforms and Partial Differential Equations</label>
        <input  type="text"  name=" "   id="ece3sub1" placeholder="Marks"  "eceEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Electrical Engineering and Instrumentation</label>
        <input  type="text"  name=" "   id="ece3sub2" placeholder="Marks" "eceMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Object Oriented Programming and Data Structures</label>
        <input  type="text"  name=" "   id="ece3sub3" placeholder="Marks" "ecePhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Digital Electronics</label>
        <input  type="text"  name=" "   id="ece3sub4" placeholder="Marks" "eceChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Signals and Systems </label>
        <input  type="text"  name=" "   id="ece3sub5" placeholder="Marks" "eceCt">
      </div>
            <div class="field"><label style="color:#800e10;">Electronic Circuits- I </label>
        <input  type="text"  name=" "   id="ece3sub6" placeholder="Marks" "eceEd">
      </div>
        <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>
                 
        <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="eee3">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">Transform Techniques and Partial Differential
Equations</label>
        <input  type="text"  name=" "   id="eee3sub1" placeholder="Marks" "eeeEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Environmental Science and Engineering</label>
        <input  type="text"  name=" "   id="eee3sub2" placeholder="Marks" "eeeMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Digital Systems </label>
        <input  type="text"  name=" "   id="eee3sub3" placeholder="Marks" "eeePhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Electromagnetic Theory</label>
        <input  type="text"  name=" "   id="eee3sub4" placeholder="Marks" "eeeChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Electronic Devices and Circuits</label>
        <input  type="text"  name=" "   id="eee3sub5" placeholder="Marks" "eeeCt">
      </div>
            <div class="field"><label style="color:#800e10;">Linear Integrated Circuits  </label>
        <input  type="text"  name=" "   id="eee3sub6" placeholder="Marks" "eeeBcme">
      </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>
                 <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto; background-color:#ECCF9E;" id="cse3">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">Transforms and Partial Differential Equations</label>
        <input  type="text"  name=" "   id="cse3sub1" placeholder="Marks" "cseEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Programming and Data Structure II</label>
        <input  type="text"  name=" "   id="cse3sub2" placeholder="Marks" "cseMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Database Management Systems</label>
        <input  type="text"  name=" "   id="cse3sub3" placeholder="Marks" "csePhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Computer Architecture</label>
        <input  type="text"  name=" "   id="cse3sub4" placeholder="Marks" "cseDpsd">
      </div>
            <div class="field"><label style="color:#800e10;">Analog and Digital Communication</label>
        <input  type="text"  name=" "   id="cse3sub5" placeholder="Marks" "csePce">
      </div>
            <div class="field"><label style="color:#800e10;">Environmental Science and Engineering</label>
        <input  type="text"  name=" "   id="cse3sub6" placeholder="Marks" "csePuc">
            
      </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>
         
                
          <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="aero3">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">Transforms and Partial Differential Equations</label>
        <input  type="text"  name=" "   id="aero2sub1" placeholder="Marks" "aeroEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Manufacturing Technology</label>
        <input  type="text"  name=" "   id="aero2sub2" placeholder="Marks" "aeroMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Aero Engineering Thermodynamics</label>
        <input  type="text"  name=" "   id="aero2sub3" placeholder="Marks" "aeroPhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Fluid Mechanics and Machinery</label>
        <input  type="text"  name=" "   id="aero2sub4" placeholder="Marks" "aeroChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Solid Mechanics</label>
        <input  type="text"  name=" "   id="aero2sub5" placeholder="Marks" "aeroEm">
      </div>
            <div class="field"><label style="color:#800e10;">Elements of Aeronautics</label>
        <input  type="text"  name=" "   id="aero2sub6" placeholder="Marks" "aeroBeee">
                  </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>         
         <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="mech3">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">Transforms and Partial Differential Equations</label>
        <input  type="text"  name=" "   placeholder="Marks" id="mech3sub1" "mechEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Strength of Materials</label>
        <input  type="text"  name=" "   placeholder="Marks" id="mech3sub2" "mechMaths2">
      </div>
            <div class="field"><label style="color:#800e10;"> Engineering Thermodynamics</label>
        <input  type="text"  name=" "   placeholder="Marks" id="mech3sub3" "mechPhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Fluid Mechanics and Machinery</label>
        <input  type="text"  name=" "   placeholder="Marks" id="mech3sub4" "mechChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Manufacturing Technology - 1 </label>
        <input  type="text"  name=" "   placeholder="Marks" id="mech3sub5" "mechEm">
      </div>
            <div class="field"><label style="color:#800e10;">Electrical Drives and Controls</label>
        <input  type="text"  name=" "   placeholder="Marks" id="mech3sub6" "mechBeee">
            </div> <div><input type="submit"  name=" "  class="btn btn-danger" id="e"></div>
         </div>
                
<!--=====================================================================================================================================================-->
                                                                <!--Semester 4-->
<!--=====================================================================================================================================================-->
          <div class="ui container segment" style="width: 80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="ece4">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">Probability and Random Processes </label>
        <input  type="text"  name=" "   placeholder="Marks"   id="ece4sub1"  "eceEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Electronic Circuits II</label>
        <input  type="text"  name=" "   placeholder="Marks"   id="ece4sub2" "eceMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Communication Theory</label>
        <input  type="text"  name=" "   placeholder="Marks"   id="ece4sub3" "ecePhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Electromagnetic Fields</label>
        <input  type="text"  name=" "   placeholder="Marks"   id="ece4sub4" "eceChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Linear Integrated Circuits</label>
        <input  type="text"  name=" "   placeholder="Marks"   id="ece4sub5" "eceCt">
      </div>
            <div class="field"><label style="color:#800e10;">Control System Engineering</label>
        <input  type="text"  name=" "   placeholder="Marks"   id="ece4sub6" "eceEd">
      </div>
                   <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>
                 
        <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="eee4">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">Communication Engineering </label>
        <input  type="text"  name=" "   placeholder="Marks"   id="eee4sub1" "eeeEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Digital Signal Processing</label>
        <input  type="text"  name=" "   placeholder="Marks"   id="eee4sub2" "eeeMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Electrical Machines I </label>
        <input  type="text"  name=" "   placeholder="Marks"   id="eee4sub3" "eeePhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Electrical Measurements and Instrumentation</label>
        <input  type="text"  name=" "   placeholder="Marks"   id="eee4sub4" "eeeChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Microprocessors and Microcontrollers </label>
        <input  type="text"  name=" "   placeholder="Marks"   id="eee4sub5" "eeeCt">
      </div>
            <div class="field"><label style="color:#800e10;">Transmission and Distribution </label>
        <input  type="text"  name=" "   placeholder="Marks"   id="eee4sub6" "eeeBcme">
      </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>
                 
        <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E; " id="cse4">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">Probability and Queueing Theory</label>
        <input type="text"  name=" "  placeholder="Marks"   id="cse4sub1" "cseEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Computer Networks</label>
        <input type="text"  name=" "  placeholder="Marks"   id="cse4sub2" "cseMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Operating Systems</label>
        <input type="text"  name=" "  placeholder="Marks"   id="cse4sub3" "csePhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Design and Analysis of Algorithms</label>
        <input type="text"  name=" "  placeholder="Marks"   id="cse4sub4" "cseDpsd">
      </div>
            <div class="field"><label style="color:#800e10;">Microprocessor and Microcontroller</label>
        <input type="text"  name=" "  placeholder="Marks" n  id="cse4sub5"  ame="csePce">
      </div>
            <div class="field"><label style="color:#800e10;">Software Engineering</label>
        <input type="text"  name=" "  placeholder="Marks"   id="cse4sub6" "csePuc">
            
      </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>
         
                
          <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="aero4">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="field"><label style="color:#800e10;">Numerical Methods</label>
        <input type="text"  name=" "  placeholder="Marks"  id="aero24sub1"   "aeroEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Aerodynamics - 1</label>
        <input type="text"  name=" "  placeholder="Marks"   id="aero4sub2" "aeroMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Aircraft Systems and Instruments</label>
        <input type="text"  name=" "  placeholder="Marks"  id="aero4sub3"  "aeroPhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Mechanics of Machines</label>
        <input type="text"  name=" "  placeholder="Marks"  id="aero4sub4"  "aeroChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Aircraft Structures - 1</label>
        <input type="text"  name=" "  placeholder="Marks"  id="aero4sub5"   "aeroEm">
      </div>
            <div class="field"><label style="color:#800e10;">Propulsion - I</label>
        <input type="text"  name=" "  placeholder="Marks"   id="aero4sub6" "aeroBeee">
                  </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
<!--              </form>-->
         </div>         
         <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="mech4">
            <h2 style="color:#800e10;">Marks</h2>
<!--              <form class="ui form">-->
            <div class="field"><label style="color:#800e10;">Statistics and Numerical Methods</label>
        <input type="text"  name=" "  placeholder="Marks"   id="mech4sub1" "mechEnglish2">
      </div>
            <div class="field"><label style="color:#800e10;">Kinematics of Machinery</label>
        <input type="text"  name=" "  placeholder="Marks"  id="mech4sub2"  "mechMaths2">
      </div>
            <div class="field"><label style="color:#800e10;">Manufacturing Technology– II</label>
        <input type="text"  name=" "  placeholder="Marks"  id="mech4sub3"  "mechPhysics2">
      </div>
            <div class="field"><label style="color:#800e10;">Engineering Materials and Metallurgy</label>
        <input type="text"  name=" "  placeholder="Marks"   id="mech4sub4" "mechChemistry2">
      </div>
            <div class="field"><label style="color:#800e10;">Environmental Science and Engineering</label>
        <input type="text"  name=" "  placeholder="Marks"  id="mech4sub5"  "mechEm">
      </div>
            <div class="field"><label style="color:#800e10;">Thermal Engineering</label>
        <input type="text"  name=" "  placeholder="Marks"  id="mech4sub6"  "mechBeee">
            </div> <div><input type="submit"  name=" "  class="btn btn-danger" id="e"></div>
         </div>
             
<!--=====================================================================================================================================================-->
                                                                <!--Semester 5-->
<!--=====================================================================================================================================================-->        
        <div class="ui container segment" style="width: 80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="ece5">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"   id="ece5code1"    id="ece5code1" name=" " >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="ece5sub1"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"  id="ece5code2"  name=" " >
              </div>
              <div class="field">
                 <input type="text"  name=" "  placeholder="Marks"   id="ece5sub2" "eceMaths2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"   id="ece5code3" name=" " >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks" id="ece5sub3"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"  id="ece5code4"  name=" " >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="ece5sub4"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"   id="ece5code5" name=" " >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="ece5sub5"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"   id="ece5code6" name=" " >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="ece5sub6"  "eceEnglish2">
              </div>   
            </div>
                <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>
                 
        <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;" id="eee5">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" "  id="eee5code1"  >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="eee5sub1"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" "  id="eee5code2" >
              </div>
              <div class="field">
                 <input type="text"  name=" "  placeholder="Marks"   id="eee5sub2" "eceMaths2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" "  id="eee5code3" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks" id="eee5sub3"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" "  id="eee5code4" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="eee5sub4"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" "  id="eee5code5" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="eee5sub5"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" "  id="eee5code6" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="eee5sub6"  "eceEnglish2">
              </div>   
            </div> 
            <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>
                 
        <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto; " id="cse5">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="cse5code1" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="cse5sub1"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="cse5code2" >
              </div>
              <div class="field">
                 <input type="text"  name=" "  placeholder="Marks"   id="cse5sub2" "eceMaths2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="cse5code3" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks" id="cse5sub3"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="cse5code4" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="cse5sub4"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="cse5code5" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="cse5sub5"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="cse5code6" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="cse5sub6"  "eceEnglish2">
              </div>   
            </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>
         
                
          <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;" id="aero5">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="aero5code1" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="aero5sub1"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="aero5code2" >
              </div>
              <div class="field">
                 <input type="text"  name=" "  placeholder="Marks"   id="aero5sub2" "eceMaths2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="aero5code3" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks" id="aero5sub3"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="aero5code4" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="aero5sub4"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="aero5code5" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="aero5sub5"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="aero5code6" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="aero5sub6"  "eceEnglish2">
              </div>   
            </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>   
                
                
         <div class="ui container segment" style="width:80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;" id="mech5">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="mech5code1" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="mech5sub1"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="mech5code2" >
              </div>
              <div class="field">
                 <input type="text"  name=" "  placeholder="Marks"   id="mech5sub2" "eceMaths2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="mech5code3" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks" id="mech5sub3"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="mech5code4" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="mech5sub4"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="mech5code5" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="mech5sub5"  "eceEnglish2">
              </div>   
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name=" " id="mech5code6" >
              </div>
              <div class="field">
                <input type="text"  name=" "  placeholder="Marks"   id="mech5sub6"  "eceEnglish2">
              </div>   
            </div> <div><input type="submit"  name=" "   class="btn btn-danger" id="e"></div>
         </div>
                
         </form>
        </div>
            <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script type="text/javascript">
         $( document ).ready(function(){
                        $('#ece2').hide();
                        $('#mech2').hide();
                        $('#eee2').hide();
                        $('#cse2').hide();
                        $('#aero2').hide();
                        $('#ece3').hide();
                        $('#mech3').hide();
                        $('#eee3').hide();
                        $('#cse3').hide();
                        $('#aero3').hide();
                        $('#ece4').hide();
                        $('#mech4').hide();
                        $('#eee4').hide();
                        $('#cse4').hide();
                        $('#aero4').hide();
                        $('#ece5').hide();
                        $('#mech5').hide();
                        $('#eee5').hide();
                        $('#cse5').hide();
                        $('#aero5').hide();
                        $('#sem1').hide();
                });
                var dept = $('#dept').val();
                $('#dept').change( function(){
                    var value = this.value;
                    var sem = $('#sem').val()
                    console.log(value+'2')
                    if(sem == 1){
                        $('#ece2').hide();
                        $('#mech2').hide();
                        $('#eee2').hide();
                        $('#cse2').hide();
                        $('#aero2').hide();
                        $('#ece3').hide();
                        $('#mech3').hide();
                        $('#eee3').hide();
                        $('#cse3').hide();
                        $('#aero3').hide();
                        $('#ece4').hide();
                        $('#mech4').hide();
                        $('#eee4').hide();
                        $('#cse4').hide();
                        $('#aero4').hide();
                        $('#sem1').hide();
                        $('#ece5').hide();
                        $('#mech5').hide();
                        $('#eee5').hide();
                        $('#cse5').hide();
                        $('#aero5').hide();
                        $('#sem1').show()
                        $('#'+ value + sem).show();
                        $('#'+value + sem + 'sub1').attr('name','sub1');
                        console.log($('#'+value + sem + 'sub1'))
                        $('#'+value + sem + 'sub2').attr('name','sub2');
                        $('#'+value + sem + 'sub3').attr('name','sub3');
                        $('#'+value + sem + 'sub4').attr('name','sub4');
                        $('#'+value + sem + 'sub5').attr('name','sub5');
                        $('#'+value + sem + 'sub6').attr('name','sub6');
                    }
                    else if(sem > 1 ){
                        if (value){
                            $('#ece2').hide();
                            $('#mech2').hide();
                            $('#eee2').hide();
                            $('#cse2').hide();
                            $('#aero2').hide();
                            $('#ece3').hide();
                            $('#mech3').hide();
                            $('#eee3').hide();
                            $('#cse3').hide();
                            $('#aero3').hide();
                            $('#ece4').hide();
                            $('#mech4').hide();
                            $('#eee4').hide();
                            $('#cse4').hide();
                            $('#aero4').hide();
                            $('#sem1').hide();
                            $('#ece5').hide();
                            $('#mech5').hide();
                            $('#eee5').hide();
                            $('#cse5').hide();
                            $('#aero5').hide();
                        }
                        $('#'+ value + sem).show();
                        $('#'+value + sem + 'sub1').attr('name','sub1');
                        console.log($('#'+value + sem + 'sub1'))
                        $('#'+value + sem + 'sub2').attr('name','sub2');
                        $('#'+value + sem + 'sub3').attr('name','sub3');
                        $('#'+value + sem + 'sub4').attr('name','sub4');
                        $('#'+value + sem + 'sub5').attr('name','sub5');
                        $('#'+value + sem + 'sub6').attr('name','sub6');
                        
                        if(sem > 4){
                            $('#'+value + sem + 'code1').attr('name','code1');
                            console.log($('#'+value + sem + 'sub1'))
                            $('#'+value + sem + 'code2').attr('name','code2');
                            $('#'+value + sem + 'code3').attr('name','code3');
                            $('#'+value + sem + 'code4').attr('name','code4');
                            $('#'+value + sem + 'code5').attr('name','code5');
                            $('#'+value + sem + 'code6').attr('name','code6');
                        }
                          console.log(value);
                    }
                   
                   });

         console.log(dept);         
        </script>
        
    </body>
</html>