<html>
    <head>
        <title>Blue Card</title>

        <link rel="stylesheet" href="../bootstrap.css"/>
        <link rel="stylesheet" type="text/css"href="../semantic.css"/>
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="../semantic.js" > </script>


    </head>
    <body style="background: url(../de1.jpg); background-size: cover;">

    <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Blue Card</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Mark Sheet <span class="sr-only">(current)</span></a></li>

              </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/logout">Logout</a></li>

            </ul>

            </div>
          </div>
        </nav>
        <%  var error ;if (error) { %>
           <div class="alert alert-success"><%= error %></div>
         <% } %>

     <div class="ui container segment" style="width:40%;    margin: 20 auto;padding-top: 10px;">
         <h1 style="margin:0 auto;">Enter The Marks here</h1>
            <form class="ui form" action="/staffs/markentry" method="post">
          <h4 class="ui dividing header" style="padding-top: 10px;">Student Information</h4>
          <div class="field">
            <label>Name</label>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="First Name" name="name" required>
              </div>
              <div class="field">
                <input type="text" placeholder="Last Name">
              </div>
            </div>
                <div class="field">
                    <label>Register No.</label>
                <input type="text" placeholder="Reg. No" name="regNo" required>
              </div>
              <div class="two fields">
                  <div class="field">
                    <label>Semester</label>
                    <input type="number" id='sem' placeholder="" name="sem"  required>
                  </div>
                  <div class="field">
                      <label>Internal</label>
                       <select id="int" name="int" required>
                        <option value="">None</option>
                          <option value="1">I</option>
                          <option value="2">II</option>
                          <option value="3">III</option>
                          <option value="semester">Semester</option>
                      </select>
                  </div>
              </div>
              <div class="field">
                <label>Department</label>
               <select id="dept" name="dept">
                   <option value="">Choose dept</option>
                   <option value="ece">ECE</option>
                   <option value="cse">CSE</option>
                   <option value="eee">EEE</option>
                   <option value="aero">AERO</option>
                   <option value="mech">MECH</option>

          </select>
      </div>
  </div>

<!--=====================================================================================================================================================-->
                                                                <!--Semester 5-->
<!--=====================================================================================================================================================-->
        <div class="ui container segment" style="width: 80%; margin-top:2em; margin-bottom: 1.5em; margin:0 auto;background-color:#ECCF9E;" id="markEntryCol">
            <h2 style="color:#800e10;">Marks</h2>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code" name="code1" >
              </div>
              <div class="field">
                <input type="text"  name="sub1"  placeholder="Marks" >
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"   name="code2" >
              </div>
              <div class="field">
                 <input type="text"  name="sub2"  placeholder="Marks"  "eceMaths2">
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"   name="code3" >
              </div>
              <div class="field">
                <input type="text"  name="sub3"  placeholder="Marks" "eceEnglish2">
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"   name="code4" >
              </div>
              <div class="field">
                <input type="text"  name="sub4"  placeholder="Marks"   "eceEnglish2">
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"   name="code5" >
              </div>
              <div class="field">
                <input type="text"  name="sub5"  placeholder="Marks"   "eceEnglish2">
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <input type="text" placeholder="Sub.Code"   name="code6" >
              </div>
              <div class="field">
                <input type="text"  name="sub6"  placeholder="Marks"   "eceEnglish2">
              </div>
            </div>
                <div><input type="submit" class="btn btn-danger" ></div>
         </div>
         </form>
        </div>
            <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
   $(document).ready(function() {
     $("#markEntryCol").hide();
    })
    $("#dept").change(function() {
      $("#markEntryCol").show();
    })
 </script>

    </body>
</html>
