<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://code.jquery.com/jquery-git2.min.js"></script>
    </head>
      <body  style="background: url(../de1.jpg); background-size: cover;">
    <nav class="navbar navbar-inverse" style="background-color:#800e10;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color:#ECCF9E;">Blue card</a>
            </div>
            <!-- <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register" style="color:#ECCF9E;">Sign Up</a></li>
                </ul>
            </div> -->
        </div>
    </nav>
        <% var error ; if (error) { %>
           <div class="alert alert-danger"><%= error %></div>
         <% } %>
    <div class="container">
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;color:#800e10">Login</h1>
                <div style="width: 30%; margin: 25px auto;">
                    <form action="/staffs/login" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block"  style="background-color:#800e10; color:#ECCF9E;border-color: #800e10;">Login</button>
                        </div>
                    </form>
                    <!-- <a href="/register" style="color:#800e10;">Sign Up</a> -->
                </div>
            </div>
        </div>
      </div>
    </body>
</html>
